body {
  margin: 0;
}

.app {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.NavBarClass {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: teal;
}

li {
  list-style: none;
  padding: 0.3rem;
  margin: 0.3rem;
}

input {
  width: 200px;
  height: 30px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

p {
  font-size: 18px;
}

.Sign {
  padding-left: 0.5rem;
  text-decoration: underline;
  color: blueviolet;
}

input {
  margin: 0.2rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginClass {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SignUpClass {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  height: 35px;
  width: 100px;
  font-size: 20px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
}

.MainPosts h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  font-size: 54px;
}

.PostInputBar {
  display: block;
  justify-content: center;
  font-size: 28px;
  text-align: center;
  margin: auto;
}

.PostInput {
  display: block;
  justify-content: center;
  font-size: 28px;
  text-align: center;
  margin: auto;
  max-width: 70px;
}

.SinglePost {
  margin: 1.2rem;
  padding: 0.5rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
