.app {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.NavBarClass {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  background-color: teal;
}

li {
  list-style: none;
  padding: 0.3rem;
  margin: 0.3rem;
}

input {
  width: 200px;
  height: 30px;
}

a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}

p {
  font-size: 18px;
}

.Sign {
  padding-left: 0.5rem;
  text-decoration: underline;
  color: blueviolet;
}

input {
  margin: 0.2rem;
  border-radius: 0.5rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.LoginClass {
  display: flex;
  margin-top: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  height: 35px;
  width: 100px;
  font-size: 20px;
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
}
